## ğŸ’¾ë°ì´í„° ì „ì²˜ë¦¬ ì‹¤ìŠµ_2: 
**â—ëª©í‘œ:** ì›”ë³„ ë°©ë¬¸ì ë°ì´í„°ë¥¼ ë²”ìš©ì ìœ¼ë¡œ ë¶„ì„ ê°€ëŠ¥í•œ Long í˜•íƒœë¡œ ë³€í™˜

##### [ì›ë³¸: 04_ì¤‘ì•™ë°•ë¬¼ê´€_24-25ë…„_ì›”ë³„_ê´€ëŒê°](../data/raw/museum/csv/03_ì¤‘ì•™ë°•ë¬¼ê´€_7ê°œë…„_ê´€ëŒê°.csv)
##### [ì •ì œ: museum_visitors_2425](../data/processed/museum_visitors_2425.csv)

## Step 1: ë¼ì´ë¸ŒëŸ¬ë¦¬ import & íŒŒì¼ ì½ê¸°

In [1]:
import pandas as pd

# íŒŒì¼ ì½ê¸°
df = pd.read_csv(r'C:\Users\Comet\Desktop\kpdh\data\raw\museum\csv\04_ì¤‘ì•™ë°•ë¬¼ê´€_24-25ë…„_ì›”ë³„_ê´€ëŒê°.csv')

# ì›ë³¸ í™•ì¸
print("ì›ë³¸ ë°ì´í„°:")
display(df)
print(f"\nì›ë³¸ shape: {df.shape}")

ì›ë³¸ ë°ì´í„°:

      ì›”  2024_ì´ê³„  2024_ë‚´êµ­ì¸  2024_ì™¸êµ­ì¸  2025_ì´ê³„  2025_ë‚´êµ­ì¸  2025_ì™¸êµ­ì¸
0    1ì›”   325127    317286      7841   513262    505282      7980
1    2ì›”   305525    296323      9202   543361    536035      7326
2    3ì›”   222265    205603     16662   341471    325928     15543
3    4ì›”   226589    205456     21133   348114    324329     23785
4    5ì›”   286491    265843     20648   495384    472680     22704
5    6ì›”   283530    264058     19472   474731    454084     20647
6    7ì›”   361493    339913     21580   747679    720949     26730
7    8ì›”   428217    408391     19826   864977    842049     22928
8    9ì›”   351733    333975     17758   409025    384647     24378
9   10ì›”   310040    288462     21578   553584    525901     27683
10  11ì›”   265661    252518     13143   522677    503739     18938
11  12ì›”   422114    412872      9242   693218    680668     12550
12   í•©ê³„  3788785   3590700    198085  6507483   6276291    231192

ì›ë³¸ shape: (13, 7)

## Step 2: í•©ê³„ í–‰ ì œê±°

In [2]:
# í•©ê³„ í–‰ ì œê±° ì „ í™•ì¸
print("ì œê±° ì „ ë§ˆì§€ë§‰ í–‰:")
display(df.tail(2))

# í•©ê³„ í–‰ ì œê±°
df = df[df['ì›”'] != 'í•©ê³„'].copy()

print("\nì œê±° í›„ ë§ˆì§€ë§‰ í–‰:")
display(df.tail(2))
print(f"ì œê±° í›„ shape: {df.shape}")

ì œê±° ì „ ë§ˆì§€ë§‰ í–‰:

      ì›”  2024_ì´ê³„  2024_ë‚´êµ­ì¸  2024_ì™¸êµ­ì¸  2025_ì´ê³„  2025_ë‚´êµ­ì¸  2025_ì™¸êµ­ì¸
11  12ì›”   422114    412872      9242   693218    680668     12550
12   í•©ê³„  3788785   3590700    198085  6507483   6276291    231192

ì œê±° í›„ ë§ˆì§€ë§‰ í–‰:

      ì›”  2024_ì´ê³„  2024_ë‚´êµ­ì¸  2024_ì™¸êµ­ì¸  2025_ì´ê³„  2025_ë‚´êµ­ì¸  2025_ì™¸êµ­ì¸
10  11ì›”   265661    252518     13143   522677    503739     18938
11  12ì›”   422114    412872      9242   693218    680668     12550

ì œê±° í›„ shape: (12, 7)

## Step 3: ì´ê³„ ì»¬ëŸ¼ í™•ì¸ & ì œê±°

In [3]:
# í˜„ì¬ ì»¬ëŸ¼ í™•ì¸
print("í˜„ì¬ ì»¬ëŸ¼ ëª©ë¡:")
print(df.columns.tolist())

í˜„ì¬ ì»¬ëŸ¼ ëª©ë¡:
['ì›”', '2024_ì´ê³„', '2024_ë‚´êµ­ì¸', '2024_ì™¸êµ­ì¸', '2025_ì´ê³„', '2025_ë‚´êµ­ì¸', '2025_ì™¸êµ­ì¸']

In [4]:
# ì´ê³„ ì»¬ëŸ¼ ì œê±°
df = df.drop(columns=['2024_ì´ê³„', '2025_ì´ê³„'])

print("\nì´ê³„ ì œê±° í›„ ì»¬ëŸ¼:")
print(df.columns.tolist())
display(df.head(3))

ì´ê³„ ì œê±° í›„ ì»¬ëŸ¼:
['ì›”', '2024_ë‚´êµ­ì¸', '2024_ì™¸êµ­ì¸', '2025_ë‚´êµ­ì¸', '2025_ì™¸êµ­ì¸']

    ì›”  2024_ë‚´êµ­ì¸  2024_ì™¸êµ­ì¸  2025_ë‚´êµ­ì¸  2025_ì™¸êµ­ì¸
0  1ì›”    317286      7841    505282      7980
1  2ì›”    296323      9202    536035      7326
2  3ì›”    205603     16662    325928     15543

## Step 4: Wide â†’ Long ë³€í™˜

In [5]:
# Wide to Long ë³€í™˜
df_long = pd.melt(
    df,
    id_vars=['ì›”'],              # ì›” ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ
    var_name='êµ¬ë¶„',             # ì»¬ëŸ¼ëª…ì´ 'êµ¬ë¶„'ìœ¼ë¡œ
    value_name='ë°©ë¬¸ììˆ˜'        # ê°’ì´ 'ë°©ë¬¸ììˆ˜'ë¡œ
)

print("Long í˜•íƒœ ë³€í™˜ ê²°ê³¼:")
display(df_long.head(10))
print(f"\nLong í˜•íƒœ shape: {df_long.shape}")

Long í˜•íƒœ ë³€í™˜ ê²°ê³¼:

     ì›”        êµ¬ë¶„    ë°©ë¬¸ììˆ˜
0   1ì›”  2024_ë‚´êµ­ì¸  317286
1   2ì›”  2024_ë‚´êµ­ì¸  296323
2   3ì›”  2024_ë‚´êµ­ì¸  205603
3   4ì›”  2024_ë‚´êµ­ì¸  205456
4   5ì›”  2024_ë‚´êµ­ì¸  265843
5   6ì›”  2024_ë‚´êµ­ì¸  264058
6   7ì›”  2024_ë‚´êµ­ì¸  339913
7   8ì›”  2024_ë‚´êµ­ì¸  408391
8   9ì›”  2024_ë‚´êµ­ì¸  333975
9  10ì›”  2024_ë‚´êµ­ì¸  288462

Long í˜•íƒœ shape: (48, 3)

In [6]:
# split í›„ renameìœ¼ë¡œ ì»¬ëŸ¼ëª… ë³€ê²½
temp = df_long['êµ¬ë¶„'].str.split('_', expand=True)
temp = temp.rename(columns={0: 'ì—°ë„', 1: 'ì¹´í…Œê³ ë¦¬'})

# ì›ë³¸ì— í•©ì¹˜ê¸°
df = pd.concat([df_long, temp], axis=1)

# 'êµ¬ë¶„' ì»¬ëŸ¼ ì‚­ì œ
df = df.drop('êµ¬ë¶„', axis=1)

# ì»¬ëŸ¼ ìˆœì„œ ë³€ê²½ (ì—°ë„, ì¹´í…Œê³ ë¦¬ë¥¼ ì•ìœ¼ë¡œ)
df = df[['ì—°ë„', 'ì›”','ì¹´í…Œê³ ë¦¬','ë°©ë¬¸ììˆ˜']]

display(df.style.format({'ë°©ë¬¸ììˆ˜': '{:,}'}))  # ì›ë³¸ ìœ ì§€

## Step 6: ë°ì´í„° íƒ€ì… ë³€í™˜

In [7]:
# í˜„ì¬ ë°ì´í„° íƒ€ì… í™•ì¸
print("ë³€í™˜ ì „ ë°ì´í„° íƒ€ì…:")
print(df.dtypes)

ë³€í™˜ ì „ ë°ì´í„° íƒ€ì…:
ì—°ë„      object
ì›”       object
ì¹´í…Œê³ ë¦¬    object
ë°©ë¬¸ììˆ˜     int64
dtype: object

In [8]:
# ìˆ«ìí˜•ìœ¼ë¡œ ë³€í™˜
df['ë°©ë¬¸ììˆ˜'] = pd.to_numeric(df['ë°©ë¬¸ììˆ˜'])
df['ì—°ë„'] = df['ì—°ë„'].astype(int)
df['ì›”'] = df['ì›”'].str.replace('ì›”', '').astype(int)

In [9]:
print("\në³€í™˜ í›„ ë°ì´í„° íƒ€ì…:")
print(df.dtypes)
print("\në³€í™˜ ê²°ê³¼ í™•ì¸:")
display(df.head(6))

ë³€í™˜ í›„ ë°ì´í„° íƒ€ì…:
ì—°ë„       int64
ì›”        int64
ì¹´í…Œê³ ë¦¬    object
ë°©ë¬¸ììˆ˜     int64
dtype: object

ë³€í™˜ ê²°ê³¼ í™•ì¸:

     ì—°ë„  ì›” ì¹´í…Œê³ ë¦¬    ë°©ë¬¸ììˆ˜
0  2024  1  ë‚´êµ­ì¸  317286
1  2024  2  ë‚´êµ­ì¸  296323
2  2024  3  ë‚´êµ­ì¸  205603
3  2024  4  ë‚´êµ­ì¸  205456
4  2024  5  ë‚´êµ­ì¸  265843
5  2024  6  ë‚´êµ­ì¸  264058

## Step 7: ë‚ ì§œ ì»¬ëŸ¼ ìƒì„±

In [10]:
# ë‚ ì§œ ì»¬ëŸ¼ ìƒì„±
df['ë‚ ì§œ']=pd.to_datetime(
    df['ì—°ë„'].astype(str)+'-'+
    df['ì›”'].astype(str).str.zfill(2) + '-01'
)
print("ë‚ ì§œ ì»¬ëŸ¼ ìƒì„± ê²°ê³¼:")
display(df.head(20))
print(f"\në‚ ì§œ ë°ì´í„° íƒ€ì…: {df['ë‚ ì§œ'].dtype}")

ë‚ ì§œ ì»¬ëŸ¼ ìƒì„± ê²°ê³¼:

      ì—°ë„   ì›” ì¹´í…Œê³ ë¦¬    ë°©ë¬¸ììˆ˜         ë‚ ì§œ
0   2024   1  ë‚´êµ­ì¸  317286 2024-01-01
1   2024   2  ë‚´êµ­ì¸  296323 2024-02-01
2   2024   3  ë‚´êµ­ì¸  205603 2024-03-01
3   2024   4  ë‚´êµ­ì¸  205456 2024-04-01
4   2024   5  ë‚´êµ­ì¸  265843 2024-05-01
5   2024   6  ë‚´êµ­ì¸  264058 2024-06-01
6   2024   7  ë‚´êµ­ì¸  339913 2024-07-01
7   2024   8  ë‚´êµ­ì¸  408391 2024-08-01
8   2024   9  ë‚´êµ­ì¸  333975 2024-09-01
9   2024  10  ë‚´êµ­ì¸  288462 2024-10-01
10  2024  11  ë‚´êµ­ì¸  252518 2024-11-01
11  2024  12  ë‚´êµ­ì¸  412872 2024-12-01
12  2024   1  ì™¸êµ­ì¸    7841 2024-01-01
13  2024   2  ì™¸êµ­ì¸    9202 2024-02-01
14  2024   3  ì™¸êµ­ì¸   16662 2024-03-01
15  2024   4  ì™¸êµ­ì¸   21133 2024-04-01
16  2024   5  ì™¸êµ­ì¸   20648 2024-05-01
17  2024   6  ì™¸êµ­ì¸   19472 2024-06-01
18  2024   7  ì™¸êµ­ì¸   21580 2024-07-01
19  2024   8  ì™¸êµ­ì¸   19826 2024-08-01

ë‚ ì§œ ë°ì´í„° íƒ€ì…: datetime64[ns]

## Step 8: ì»¬ëŸ¼ ìˆœì„œ ì •ë¦¬ & ì •ë ¬

In [11]:
df.dtypes

ì—°ë„               int64
ì›”                int64
ì¹´í…Œê³ ë¦¬            object
ë°©ë¬¸ììˆ˜             int64
ë‚ ì§œ      datetime64[ns]
dtype: object

In [12]:
# ì»¬ëŸ¼ëª… ë³€ê²½ ë° ìˆœì„œ ì •ë¦¬

df = df.rename(columns={
    'ì—°ë„': 'year',
    'ì›”': 'month',
    'ì¹´í…Œê³ ë¦¬': 'category',
    'ë‚ ì§œ': 'date',
    'ë°©ë¬¸ììˆ˜': 'visitors'
})

display(df.head())

   year  month category  visitors       date
0  2024      1      ë‚´êµ­ì¸    317286 2024-01-01
1  2024      2      ë‚´êµ­ì¸    296323 2024-02-01
2  2024      3      ë‚´êµ­ì¸    205603 2024-03-01
3  2024      4      ë‚´êµ­ì¸    205456 2024-04-01
4  2024      5      ë‚´êµ­ì¸    265843 2024-05-01

In [13]:

# ì •ë ¬
df = df.sort_values(['date', 'category'], ascending=[True, True]).reset_index(drop=True)

print("ìµœì¢… ê²°ê³¼ :")
display(df.style.format({'visitors': '{:,}'}))
print(f"\nìµœì¢… shape: {df.shape}")
print(f"ì¹´í…Œê³ ë¦¬ ì¢…ë¥˜: {df['category'].unique()}")

ìµœì¢… ê²°ê³¼ :

ìµœì¢… shape: (48, 5)
ì¹´í…Œê³ ë¦¬ ì¢…ë¥˜: ['ë‚´êµ­ì¸' 'ì™¸êµ­ì¸']

## Step 9: ê¸°ë³¸ í™•ì¸ (ê²°ì¸¡ì¹˜, í†µê³„)

In [14]:
# ê²°ì¸¡ì¹˜ í™•ì¸
print("ê²°ì¸¡ì¹˜ ê°œìˆ˜:")
print(df.isnull().sum())

# ê¸°ë³¸ í†µê³„
print("\në°©ë¬¸ììˆ˜ ê¸°ë³¸ í†µê³„:")
display(df['visitors'].describe())

# ì¹´í…Œê³ ë¦¬ë³„ í•©ê³„
print("\nì¹´í…Œê³ ë¦¬ë³„ ì´ ë°©ë¬¸ììˆ˜:")
display(df.groupby('category')['visitors'].sum())
df.index.name = 'id'
display(df)

ê²°ì¸¡ì¹˜ ê°œìˆ˜:
year        0
month       0
category    0
visitors    0
date        0
dtype: int64

ë°©ë¬¸ììˆ˜ ê¸°ë³¸ í†µê³„:

count        48.000000
mean     214505.583333
std      229648.001766
min        7326.000000
25%       19737.500000
50%      116569.500000
75%      351096.500000
max      842049.000000
Name: visitors, dtype: float64

ì¹´í…Œê³ ë¦¬ë³„ ì´ ë°©ë¬¸ììˆ˜:

category
ë‚´êµ­ì¸    9866991
ì™¸êµ­ì¸     429277
Name: visitors, dtype: int64

    year  month category  visitors       date
id
0   2024      1      ë‚´êµ­ì¸    317286 2024-01-01
1   2024      1      ì™¸êµ­ì¸      7841 2024-01-01
2   2024      2      ë‚´êµ­ì¸    296323 2024-02-01
3   2024      2      ì™¸êµ­ì¸      9202 2024-02-01
4   2024      3      ë‚´êµ­ì¸    205603 2024-03-01
5   2024      3      ì™¸êµ­ì¸     16662 2024-03-01
6   2024      4      ë‚´êµ­ì¸    205456 2024-04-01
7   2024      4      ì™¸êµ­ì¸     21133 2024-04-01
8   2024      5      ë‚´êµ­ì¸    265843 2024-05-01
9   2024      5      ì™¸êµ­ì¸     20648 2024-05-01
10  2024      6      ë‚´êµ­ì¸    264058 2024-06-01
11  2024      6      ì™¸êµ­ì¸     19472 2024-06-01
12  2024      7      ë‚´êµ­ì¸    339913 2024-07-01
13  2024      7      ì™¸êµ­ì¸     21580 2024-07-01
14  2024      8      ë‚´êµ­ì¸    408391 2024-08-01
15  2024      8      ì™¸êµ­ì¸     19826 2024-08-01
16  2024      9      ë‚´êµ­ì¸    333975 2024-09-01
17  2024      9      ì™¸êµ­ì¸     17758 2024-09-01
18  2024     10      ë‚´êµ­ì¸    288462 2024-10-01
19  2024     10      ì™¸êµ­ì¸     21578 2024-10-01
20  2024     11      ë‚´êµ­ì¸    252518 2024-11-01
21  2024     11      ì™¸êµ­ì¸     13143 2024-11-01
22  2024     12      ë‚´êµ­ì¸    412872 2024-12-01
23  2024     12      ì™¸êµ­ì¸      9242 2024-12-01
24  2025      1      ë‚´êµ­ì¸    505282 2025-01-01
25  2025      1      ì™¸êµ­ì¸      7980 2025-01-01
26  2025      2      ë‚´êµ­ì¸    536035 2025-02-01
27  2025      2      ì™¸êµ­ì¸      7326 2025-02-01
28  2025      3      ë‚´êµ­ì¸    325928 2025-03-01
29  2025      3      ì™¸êµ­ì¸     15543 2025-03-01
30  2025      4      ë‚´êµ­ì¸    324329 2025-04-01
31  2025      4      ì™¸êµ­ì¸     23785 2025-04-01
32  2025      5      ë‚´êµ­ì¸    472680 2025-05-01
33  2025      5      ì™¸êµ­ì¸     22704 2025-05-01
34  2025      6      ë‚´êµ­ì¸    454084 2025-06-01
35  2025      6      ì™¸êµ­ì¸     20647 2025-06-01
36  2025      7      ë‚´êµ­ì¸    720949 2025-07-01
37  2025      7      ì™¸êµ­ì¸     26730 2025-07-01
38  2025      8      ë‚´êµ­ì¸    842049 2025-08-01
39  2025      8      ì™¸êµ­ì¸     22928 2025-08-01
40  2025      9      ë‚´êµ­ì¸    384647 2025-09-01
41  2025      9      ì™¸êµ­ì¸     24378 2025-09-01
42  2025     10      ë‚´êµ­ì¸    525901 2025-10-01
43  2025     10      ì™¸êµ­ì¸     27683 2025-10-01
44  2025     11      ë‚´êµ­ì¸    503739 2025-11-01
45  2025     11      ì™¸êµ­ì¸     18938 2025-11-01
46  2025     12      ë‚´êµ­ì¸    680668 2025-12-01
47  2025     12      ì™¸êµ­ì¸     12550 2025-12-01

In [15]:
df.to_csv(r'C:\Users\Comet\Desktop\kpdh\data\processed\museum_visitors_2425.csv', 
          encoding='utf-8-sig', 
          index=False)

### ë„·í”Œë¦­ìŠ¤ ì „ì²˜ë¦¬ ì½”ë“œ

In [20]:
import pandas as pd

In [21]:
df.columns.tolist()

['week',
 'start_date',
 'end_date',
 'rank_global',
 'rank_kr',
 'rank_us',
 'rank_en',
 'hours',
 'views',
 'cum_hours',
 'cum_views']

In [17]:
df=pd.read_csv(r'C:\Users\Comet\Desktop\kpdh\data\processed\netflix_ranking_kpdh.csv')
df

,week,start_date,end_date,rank_global,rank_kr,rank_us,rank_en,hours,views,cum_hours,cum_views
0,1,2025-06-16,2025-06-22,2,2,6,2,15400000,9200000,15400000,9200000
1,2,2025-06-23,2025-06-29,1,1,2,1,40300000,24200000,55700000,33400000
2,3,2025-06-30,2025-07-06,2,1,2,2,37800000,22700000,93500000,56100000
3,4,2025-07-07,2025-07-13,1,1,2,1,40400000,24200000,133900000,80300000
4,5,2025-07-14,2025-07-20,1,1,2,1,43000000,25800000,176900000,106100000
5,6,2025-07-21,2025-07-27,2,1,2,2,43900000,26300000,220800000,132400000
6,7,2025-07-28,2025-08-03,2,2,2,2,43800000,26300000,264600000,158700000
7,8,2025-08-04,2025-08-10,2,1,1,2,43100000,25900000,307700000,184600000
8,9,2025-08-11,2025-08-17,1,1,1,1,43300000,26000000,351000000,210600000
9,10,2025-08-18,2025-08-24,1,1,1,1,42400000,25400000,393400000,236000000
10,11,2025-08-25,2025-08-31,1,1,1,1,50200000,30100000,443600000,266100000
11,12,2025-09-01,2025-09-07,2,2,2,2,42400000,25400000,486000000,291500000
12,13,2025-09-08,2025-09-14,1,2,1,1,37700000,22600000,523700000,314100000
13,14,2025-09-15,2025-09-21,2,3,2,2,35400000,21200000,559100000,335300000
14,15,2025-09-22,2025-09-28,1,3,1,1,32200000,19300000,591300000,354600000
15,16,2025-09-29,2025-10-05,1,2,1,1,30200000,18100000,621500000,372700000
16,17,2025-10-06,2025-10-12,2,3,1,2,29700000,17800000,651200000,390500000
17,18,2025-10-13,2025-10-19,3,5,3,3,27000000,16200000,678200000,406700000
18,19,2025-10-20,2025-10-26,3,4,3,3,24400000,14600000,702600000,421300000
19,20,2025-10-27,2025-11-02,2,3,2,2,23300000,14000000,725900000,435300000
20,21,2025-11-03,2025-11-09,2,5,2,2,20700000,12400000,746600000,447700000
21,22,2025-11-10,2025-11-16,3,3,3,3,19300000,11600000,765900000,459300000
22,23,2025-11-17,2025-11-23,5,5,5,5,16900000,10100000,782800000,469400000
23,24,2025-11-24,2025-11-30,3,4,2,3,17300000,10400000,800100000,479800000
24,25,2025-12-01,2025-12-07,4,6,5,3,14400000,8600000,814500000,488400000
25,26,2025-12-08,2025-12-14,5,9,5,4,13400000,8000000,827900000,496400000
26,27,2025-12-15,2025-12-21,4,9,5,3,13100000,7900000,841000000,504300000
27,28,2025-12-22,2025-12-28,4,7,4,3,15100000,9100000,856100000,513400000
28,29,2025-12-29,2026-01-04,3,7,4,2,15700000,9400000,871800000,522800000
29,30,2026-01-05,2026-01-11,4,9,3,4,12600000,7600000,884400000,530400000

In [19]:
df = df.rename(columns={
    'ì£¼ì°¨': 'week',
    'ì‹œì‘ì¼': 'start_date',
    'ì¢…ë£Œì¼': 'end_date',
    'ì „ì²´ìˆœìœ„': 'rank_global',
    'í•œêµ­ìˆœìœ„': 'rank_kr',
    'ë¯¸êµ­ìˆœìœ„': 'rank_us',
    'ì˜ì–´ìˆœìœ„': 'rank_en',
    'ì‹œì²­ì‹œê°„_ì‹œê°„': 'hours',
    'ì‹œì²­íšŸìˆ˜_íšŒ': 'views',
    'ëˆ„ì ì‹œì²­ì‹œê°„': 'cum_hours',
    'ëˆ„ì ì‹œì²­íšŸìˆ˜': 'cum_views'
})

# df.dtypes

# df['start_date'] = pd.to_datetime(df['start_date'])
# df['end_date'] = pd.to_datetime(df['end_date'])

# df['hours'] = df['hours'].str.replace(',', '').astype(int)
# df['views'] = df['views'].str.replace(',', '').astype(int)
# df['cum_hours'] = df['cum_hours'].str.replace(',', '').astype(int)
# df['cum_views'] = df['cum_views'].str.replace(',', '').astype(int)

df.dtypes

week                    int64
start_date     datetime64[ns]
end_date       datetime64[ns]
rank_global             int64
rank_kr                 int64
rank_us                 int64
rank_en                 int64
hours                   int64
views                   int64
cum_hours               int64
cum_views               int64
dtype: object

In [ ]:
display(df.head())

,week,start_date,end_date,rank_global,rank_kr,rank_us,rank_en,hours,views,cum_hours,cum_views
0,1,2025-06-16,2025-06-22,2,2,6,2,15400000,9200000,15400000,9200000
1,2,2025-06-23,2025-06-29,1,1,2,1,40300000,24200000,55700000,33400000
2,3,2025-06-30,2025-07-06,2,1,2,2,37800000,22700000,93500000,56100000
3,4,2025-07-07,2025-07-13,1,1,2,1,40400000,24200000,133900000,80300000
4,5,2025-07-14,2025-07-20,1,1,2,1,43000000,25800000,176900000,106100000

In [24]:
df = df[['week', 'start_date', 'end_date', 'rank_global','rank_en', 'rank_kr', 'rank_us','hours', 'views', 'cum_hours', 'cum_views']]
display(df)

,week,start_date,end_date,rank_global,rank_en,rank_kr,rank_us,hours,views,cum_hours,cum_views
0,1,2025-06-16,2025-06-22,2,2,2,6,15400000,9200000,15400000,9200000
1,2,2025-06-23,2025-06-29,1,1,1,2,40300000,24200000,55700000,33400000
2,3,2025-06-30,2025-07-06,2,2,1,2,37800000,22700000,93500000,56100000
3,4,2025-07-07,2025-07-13,1,1,1,2,40400000,24200000,133900000,80300000
4,5,2025-07-14,2025-07-20,1,1,1,2,43000000,25800000,176900000,106100000
5,6,2025-07-21,2025-07-27,2,2,1,2,43900000,26300000,220800000,132400000
6,7,2025-07-28,2025-08-03,2,2,2,2,43800000,26300000,264600000,158700000
7,8,2025-08-04,2025-08-10,2,2,1,1,43100000,25900000,307700000,184600000
8,9,2025-08-11,2025-08-17,1,1,1,1,43300000,26000000,351000000,210600000
9,10,2025-08-18,2025-08-24,1,1,1,1,42400000,25400000,393400000,236000000
10,11,2025-08-25,2025-08-31,1,1,1,1,50200000,30100000,443600000,266100000
11,12,2025-09-01,2025-09-07,2,2,2,2,42400000,25400000,486000000,291500000
12,13,2025-09-08,2025-09-14,1,1,2,1,37700000,22600000,523700000,314100000
13,14,2025-09-15,2025-09-21,2,2,3,2,35400000,21200000,559100000,335300000
14,15,2025-09-22,2025-09-28,1,1,3,1,32200000,19300000,591300000,354600000
15,16,2025-09-29,2025-10-05,1,1,2,1,30200000,18100000,621500000,372700000
16,17,2025-10-06,2025-10-12,2,2,3,1,29700000,17800000,651200000,390500000
17,18,2025-10-13,2025-10-19,3,3,5,3,27000000,16200000,678200000,406700000
18,19,2025-10-20,2025-10-26,3,3,4,3,24400000,14600000,702600000,421300000
19,20,2025-10-27,2025-11-02,2,2,3,2,23300000,14000000,725900000,435300000
20,21,2025-11-03,2025-11-09,2,2,5,2,20700000,12400000,746600000,447700000
21,22,2025-11-10,2025-11-16,3,3,3,3,19300000,11600000,765900000,459300000
22,23,2025-11-17,2025-11-23,5,5,5,5,16900000,10100000,782800000,469400000
23,24,2025-11-24,2025-11-30,3,3,4,2,17300000,10400000,800100000,479800000
24,25,2025-12-01,2025-12-07,4,3,6,5,14400000,8600000,814500000,488400000
25,26,2025-12-08,2025-12-14,5,4,9,5,13400000,8000000,827900000,496400000
26,27,2025-12-15,2025-12-21,4,3,9,5,13100000,7900000,841000000,504300000
27,28,2025-12-22,2025-12-28,4,3,7,4,15100000,9100000,856100000,513400000
28,29,2025-12-29,2026-01-04,3,2,7,4,15700000,9400000,871800000,522800000
29,30,2026-01-05,2026-01-11,4,4,9,3,12600000,7600000,884400000,530400000

In [25]:
df.to_csv(r'C:\Users\Comet\Desktop\kpdh\data\processed\netflix_ranking_kpdh.csv', index=False)

In [26]:
display(df.head())

,week,start_date,end_date,rank_global,rank_en,rank_kr,rank_us,hours,views,cum_hours,cum_views
0,1,2025-06-16,2025-06-22,2,2,2,6,15400000,9200000,15400000,9200000
1,2,2025-06-23,2025-06-29,1,1,1,2,40300000,24200000,55700000,33400000
2,3,2025-06-30,2025-07-06,2,2,1,2,37800000,22700000,93500000,56100000
3,4,2025-07-07,2025-07-13,1,1,1,2,40400000,24200000,133900000,80300000
4,5,2025-07-14,2025-07-20,1,1,1,2,43000000,25800000,176900000,106100000