In [8]:
import pandas as pd

df=pd.read_csv('../data/raw/museum/csv/국립중앙박물관 관람객수_daily_2015_2025.csv')
print(df.head())

         date  visitors  year  month  day day_of_week  is_weekend  korean  \
0  2015-01-01    1802.0  2015      1    1           목           0     NaN
1  2015-01-02   16071.0  2015      1    2           금           0     NaN
2  2015-01-03   20546.0  2015      1    3           토           1     NaN
3  2015-01-04   17661.0  2015      1    4           일           1     NaN
4  2015-01-05     140.0  2015      1    5           월           0     NaN

   foreigner
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

In [9]:
df.dtypes

date            object
visitors       float64
year             int64
month            int64
day              int64
day_of_week     object
is_weekend       int64
korean         float64
foreigner      float64
dtype: object

In [18]:
# visitors: 결측치를 허용하는 정수형으로 변환
df["visitors"] = pd.to_numeric(df["visitors"], errors="coerce").astype("int64")

# date: 시계열 데이터 타입으로 변환
df["date"] = pd.to_datetime(df["date"], errors="coerce")

# 결과 확인
print(df.dtypes)
print(df.head())

display(df.head())

date           datetime64[ns]
visitors                int64
year                    int64
month                   int64
day                     int64
day_of_week            object
is_weekend              int64
korean                float64
foreigner             float64
dtype: object
        date  visitors  year  month  day day_of_week  is_weekend  korean  \
0 2015-01-01      1802  2015      1    1           목           0     NaN
1 2015-01-02     16071  2015      1    2           금           0     NaN
2 2015-01-03     20546  2015      1    3           토           1     NaN
3 2015-01-04     17661  2015      1    4           일           1     NaN
4 2015-01-05       140  2015      1    5           월           0     NaN

   foreigner
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

,date,visitors,year,month,day,day_of_week,is_weekend,korean,foreigner
0,2015-01-01,1802,2015,1,1,목,0,NaN,NaN
1,2015-01-02,16071,2015,1,2,금,0,NaN,NaN
2,2015-01-03,20546,2015,1,3,토,1,NaN,NaN
3,2015-01-04,17661,2015,1,4,일,1,NaN,NaN
4,2015-01-05,140,2015,1,5,월,0,NaN,NaN

In [ ]:
# # 여러 컬럼을 한꺼번에 처리할 때 (예시)
# cols_to_fix = ["visitors",'korean', "foreigner"]
# df[cols_to_fix] = df[cols_to_fix].apply(pd.to_numeric, errors="coerce").astype("int64")
# df.dtypes

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [19]:
df=df.drop(columns=['korean','foreigner'])

In [24]:
# 주말(토, 일)이면 True, 아니면 False
df["is_weekend"] = df["date"].dt.dayofweek >= 5

In [25]:
display(df.head())

        date  visitors  year  month  day day_of_week  is_weekend
0 2015-01-01      1802  2015      1    1           목       False
1 2015-01-02     16071  2015      1    2           금       False
2 2015-01-03     20546  2015      1    3           토        True
3 2015-01-04     17661  2015      1    4           일        True
4 2015-01-05       140  2015      1    5           월       False

In [37]:
# 1. 방문자가 0인 데이터만 추출
zero_visitors_df = df.loc[df["visitors"] == 0]
# zero_visitors_df = df.loc[df["visitors"] == 0, ["date", "day_of_week"]]

# 2. 상세 내역 출력
print("### 방문객이 0명인 날짜 상세 리스트 ###")
display(zero_visitors_df)

to_csv_path = "../data/processed/zero_visitors.csv"
zero_visitors_df.to_csv(to_csv_path, index=False)

# 3. 전체 개수 출력
# print(f"\n총 0명이었던 일수: {len(zero_visitors_df)}일")

### 방문객이 0명인 날짜 상세 리스트 ###

           date  visitors  year  month  day day_of_week  is_weekend
53   2015-02-23         0  2015      2   23           월       False
74   2015-03-16         0  2015      3   16           월       False
81   2015-03-23         0  2015      3   23           월       False
116  2015-04-27         0  2015      4   27           월       False
151  2015-06-01         0  2015      6    1           월       False
...         ...       ...   ...    ...  ...         ...         ...
3547 2024-09-17         0  2024      9   17           화       False
3653 2025-01-01         0  2025      1    1           수       False
3681 2025-01-29         0  2025      1   29           수       False
3931 2025-10-06         0  2025     10    6           월       False
3959 2025-11-03         0  2025     11    3           월       False

[180 rows x 7 columns]

In [38]:
df.to_csv('../data/processed/museum_daily_total_visitors_2015_2025.csv', index=False)

In [23]:
df.dtypes

date           datetime64[ns]
visitors                int64
year                    int64
month                   int64
day                     int64
day_of_week            object
is_weekend              int64
dtype: object