## ğŸ’¾ë°ì´í„° ì „ì²˜ë¦¬ ì‹¤ìŠµ_2: 
**â—ëª©í‘œ:** ì›”ë³„ ë°©ë¬¸ì ë°ì´í„°ë¥¼ ë²”ìš©ì ìœ¼ë¡œ ë¶„ì„ ê°€ëŠ¥í•œ Long í˜•íƒœë¡œ ë³€í™˜

##### [ì›ë³¸: 04_ì¤‘ì•™ë°•ë¬¼ê´€_24-25ë…„_ì›”ë³„_ê´€ëŒê°](../data/raw/museum/csv/03_ì¤‘ì•™ë°•ë¬¼ê´€_7ê°œë…„_ê´€ëŒê°.csv)
##### [ì •ì œ: museum_visitors_2425](../data/processed/museum_visitors_2425.csv)

## Step 1: ë¼ì´ë¸ŒëŸ¬ë¦¬ import & íŒŒì¼ ì½ê¸°

In [35]:
import pandas as pd

# íŒŒì¼ ì½ê¸°
df = pd.read_csv(r'C:\Users\Comet\Desktop\kpdh\data\raw\museum\csv\04_ì¤‘ì•™ë°•ë¬¼ê´€_24-25ë…„_ì›”ë³„_ê´€ëŒê°.csv')

# ì›ë³¸ í™•ì¸
print("ì›ë³¸ ë°ì´í„°:")
display(df)
print(f"\nì›ë³¸ shape: {df.shape}")

ì›ë³¸ ë°ì´í„°:

      ì›”  2024_ì´ê³„  2024_ë‚´êµ­ì¸  2024_ì™¸êµ­ì¸  2025_ì´ê³„  2025_ë‚´êµ­ì¸  2025_ì™¸êµ­ì¸
0    1ì›”   325127    317286      7841   513262    505282      7980
1    2ì›”   305525    296323      9202   543361    536035      7326
2    3ì›”   222265    205603     16662   341471    325928     15543
3    4ì›”   226589    205456     21133   348114    324329     23785
4    5ì›”   286491    265843     20648   495384    472680     22704
5    6ì›”   283530    264058     19472   474731    454084     20647
6    7ì›”   361493    339913     21580   747679    720949     26730
7    8ì›”   428217    408391     19826   864977    842049     22928
8    9ì›”   351733    333975     17758   409025    384647     24378
9   10ì›”   310040    288462     21578   553584    525901     27683
10  11ì›”   265661    252518     13143   522677    503739     18938
11  12ì›”   422114    412872      9242   693218    680668     12550
12   í•©ê³„  3788785   3590700    198085  6507483   6276291    231192

ì›ë³¸ shape: (13, 7)

## Step 2: í•©ê³„ í–‰ ì œê±°

In [36]:
# í•©ê³„ í–‰ ì œê±° ì „ í™•ì¸
print("ì œê±° ì „ ë§ˆì§€ë§‰ í–‰:")
display(df.tail(2))

# í•©ê³„ í–‰ ì œê±°
df = df[df['ì›”'] != 'í•©ê³„'].copy()

print("\nì œê±° í›„ ë§ˆì§€ë§‰ í–‰:")
display(df.tail(2))
print(f"ì œê±° í›„ shape: {df.shape}")

ì œê±° ì „ ë§ˆì§€ë§‰ í–‰:

      ì›”  2024_ì´ê³„  2024_ë‚´êµ­ì¸  2024_ì™¸êµ­ì¸  2025_ì´ê³„  2025_ë‚´êµ­ì¸  2025_ì™¸êµ­ì¸
11  12ì›”   422114    412872      9242   693218    680668     12550
12   í•©ê³„  3788785   3590700    198085  6507483   6276291    231192

ì œê±° í›„ ë§ˆì§€ë§‰ í–‰:

      ì›”  2024_ì´ê³„  2024_ë‚´êµ­ì¸  2024_ì™¸êµ­ì¸  2025_ì´ê³„  2025_ë‚´êµ­ì¸  2025_ì™¸êµ­ì¸
10  11ì›”   265661    252518     13143   522677    503739     18938
11  12ì›”   422114    412872      9242   693218    680668     12550

ì œê±° í›„ shape: (12, 7)

## Step 3: ì´ê³„ ì»¬ëŸ¼ í™•ì¸ & ì œê±°

In [37]:
# í˜„ì¬ ì»¬ëŸ¼ í™•ì¸
print("í˜„ì¬ ì»¬ëŸ¼ ëª©ë¡:")
print(df.columns.tolist())

í˜„ì¬ ì»¬ëŸ¼ ëª©ë¡:
['ì›”', '2024_ì´ê³„', '2024_ë‚´êµ­ì¸', '2024_ì™¸êµ­ì¸', '2025_ì´ê³„', '2025_ë‚´êµ­ì¸', '2025_ì™¸êµ­ì¸']

In [38]:
# ì´ê³„ ì»¬ëŸ¼ ì œê±°
df = df.drop(columns=['2024_ì´ê³„', '2025_ì´ê³„'])

print("\nì´ê³„ ì œê±° í›„ ì»¬ëŸ¼:")
print(df.columns.tolist())
display(df.head(3))

ì´ê³„ ì œê±° í›„ ì»¬ëŸ¼:
['ì›”', '2024_ë‚´êµ­ì¸', '2024_ì™¸êµ­ì¸', '2025_ë‚´êµ­ì¸', '2025_ì™¸êµ­ì¸']

    ì›”  2024_ë‚´êµ­ì¸  2024_ì™¸êµ­ì¸  2025_ë‚´êµ­ì¸  2025_ì™¸êµ­ì¸
0  1ì›”    317286      7841    505282      7980
1  2ì›”    296323      9202    536035      7326
2  3ì›”    205603     16662    325928     15543

## Step 4: Wide â†’ Long ë³€í™˜

In [39]:
# Wide to Long ë³€í™˜
df_long = pd.melt(
    df,
    id_vars=['ì›”'],              # ì›” ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ
    var_name='êµ¬ë¶„',             # ì»¬ëŸ¼ëª…ì´ 'êµ¬ë¶„'ìœ¼ë¡œ
    value_name='ë°©ë¬¸ììˆ˜'        # ê°’ì´ 'ë°©ë¬¸ììˆ˜'ë¡œ
)

print("Long í˜•íƒœ ë³€í™˜ ê²°ê³¼:")
display(df_long.head(10))
print(f"\nLong í˜•íƒœ shape: {df_long.shape}")

Long í˜•íƒœ ë³€í™˜ ê²°ê³¼:

     ì›”        êµ¬ë¶„    ë°©ë¬¸ììˆ˜
0   1ì›”  2024_ë‚´êµ­ì¸  317286
1   2ì›”  2024_ë‚´êµ­ì¸  296323
2   3ì›”  2024_ë‚´êµ­ì¸  205603
3   4ì›”  2024_ë‚´êµ­ì¸  205456
4   5ì›”  2024_ë‚´êµ­ì¸  265843
5   6ì›”  2024_ë‚´êµ­ì¸  264058
6   7ì›”  2024_ë‚´êµ­ì¸  339913
7   8ì›”  2024_ë‚´êµ­ì¸  408391
8   9ì›”  2024_ë‚´êµ­ì¸  333975
9  10ì›”  2024_ë‚´êµ­ì¸  288462

Long í˜•íƒœ shape: (48, 3)

In [40]:
# split í›„ renameìœ¼ë¡œ ì»¬ëŸ¼ëª… ë³€ê²½
temp = df_long['êµ¬ë¶„'].str.split('_', expand=True)
temp = temp.rename(columns={0: 'ì—°ë„', 1: 'ì¹´í…Œê³ ë¦¬'})

# ì›ë³¸ì— í•©ì¹˜ê¸°
df = pd.concat([df_long, temp], axis=1)

# 'êµ¬ë¶„' ì»¬ëŸ¼ ì‚­ì œ
df = df.drop('êµ¬ë¶„', axis=1)

# ì»¬ëŸ¼ ìˆœì„œ ë³€ê²½ (ì—°ë„, ì¹´í…Œê³ ë¦¬ë¥¼ ì•ìœ¼ë¡œ)
df = df[['ì—°ë„', 'ì›”','ì¹´í…Œê³ ë¦¬','ë°©ë¬¸ììˆ˜']]

display(df.style.format({'ë°©ë¬¸ììˆ˜': '{:,}'}))  # ì›ë³¸ ìœ ì§€

## Step 6: ë°ì´í„° íƒ€ì… ë³€í™˜

In [41]:
# í˜„ì¬ ë°ì´í„° íƒ€ì… í™•ì¸
print("ë³€í™˜ ì „ ë°ì´í„° íƒ€ì…:")
print(df.dtypes)

ë³€í™˜ ì „ ë°ì´í„° íƒ€ì…:
ì—°ë„      object
ì›”       object
ì¹´í…Œê³ ë¦¬    object
ë°©ë¬¸ììˆ˜     int64
dtype: object

In [42]:
# ìˆ«ìí˜•ìœ¼ë¡œ ë³€í™˜
df['ë°©ë¬¸ììˆ˜'] = pd.to_numeric(df['ë°©ë¬¸ììˆ˜'])
df['ì—°ë„'] = df['ì—°ë„'].astype(int)
df['ì›”'] = df['ì›”'].str.replace('ì›”', '').astype(int)

In [43]:
print("\në³€í™˜ í›„ ë°ì´í„° íƒ€ì…:")
print(df.dtypes)
print("\në³€í™˜ ê²°ê³¼ í™•ì¸:")
display(df.head(6))

ë³€í™˜ í›„ ë°ì´í„° íƒ€ì…:
ì—°ë„       int64
ì›”        int64
ì¹´í…Œê³ ë¦¬    object
ë°©ë¬¸ììˆ˜     int64
dtype: object

ë³€í™˜ ê²°ê³¼ í™•ì¸:

     ì—°ë„  ì›” ì¹´í…Œê³ ë¦¬    ë°©ë¬¸ììˆ˜
0  2024  1  ë‚´êµ­ì¸  317286
1  2024  2  ë‚´êµ­ì¸  296323
2  2024  3  ë‚´êµ­ì¸  205603
3  2024  4  ë‚´êµ­ì¸  205456
4  2024  5  ë‚´êµ­ì¸  265843
5  2024  6  ë‚´êµ­ì¸  264058

## Step 7: ë‚ ì§œ ì»¬ëŸ¼ ìƒì„±

In [ ]:
# ë‚ ì§œ ì»¬ëŸ¼ ìƒì„±
df['ë‚ ì§œ']=pd.to_datetime(
    df['ì—°ë„'].astype(str)+'-'+
    df['ì›”'].astype(str).str.zfill(2) + '-01'
)
print("ë‚ ì§œ ì»¬ëŸ¼ ìƒì„± ê²°ê³¼:")
display(df.head(20))
print(f"\në‚ ì§œ ë°ì´í„° íƒ€ì…: {df['ë‚ ì§œ'].dtype}")

ë‚ ì§œ ì»¬ëŸ¼ ìƒì„± ê²°ê³¼:

      ì—°ë„   ì›” ì¹´í…Œê³ ë¦¬         ë‚ ì§œ    ë°©ë¬¸ììˆ˜
0   2024   1  ë‚´êµ­ì¸ 2024-01-01  317286
1   2024   1  ì™¸êµ­ì¸ 2024-01-01    7841
2   2024   2  ë‚´êµ­ì¸ 2024-02-01  296323
3   2024   2  ì™¸êµ­ì¸ 2024-02-01    9202
4   2024   3  ë‚´êµ­ì¸ 2024-03-01  205603
5   2024   3  ì™¸êµ­ì¸ 2024-03-01   16662
6   2024   4  ë‚´êµ­ì¸ 2024-04-01  205456
7   2024   4  ì™¸êµ­ì¸ 2024-04-01   21133
8   2024   5  ë‚´êµ­ì¸ 2024-05-01  265843
9   2024   5  ì™¸êµ­ì¸ 2024-05-01   20648
10  2024   6  ë‚´êµ­ì¸ 2024-06-01  264058
11  2024   6  ì™¸êµ­ì¸ 2024-06-01   19472
12  2024   7  ë‚´êµ­ì¸ 2024-07-01  339913
13  2024   7  ì™¸êµ­ì¸ 2024-07-01   21580
14  2024   8  ë‚´êµ­ì¸ 2024-08-01  408391
15  2024   8  ì™¸êµ­ì¸ 2024-08-01   19826
16  2024   9  ë‚´êµ­ì¸ 2024-09-01  333975
17  2024   9  ì™¸êµ­ì¸ 2024-09-01   17758
18  2024  10  ë‚´êµ­ì¸ 2024-10-01  288462
19  2024  10  ì™¸êµ­ì¸ 2024-10-01   21578

ë‚ ì§œ ë°ì´í„° íƒ€ì…: datetime64[ns]

## Step 8: ì»¬ëŸ¼ ìˆœì„œ ì •ë¦¬ & ì •ë ¬

In [48]:
df.dtypes

year                 int64
month                int64
category            object
date        datetime64[ns]
visitors             int64
dtype: object

In [50]:
# ì»¬ëŸ¼ëª… ë³€ê²½ ë° ìˆœì„œ ì •ë¦¬

df = df.rename(columns={
    'ì—°ë„': 'year',
    'ì›”': 'month',
    'ì¹´í…Œê³ ë¦¬': 'category',
    'ë‚ ì§œ': 'date',
    'ë°©ë¬¸ììˆ˜': 'visitors'
})

display(df.head())

   year  month category       date  visitors
0  2024      1      ë‚´êµ­ì¸ 2024-01-01    317286
1  2024      1      ì™¸êµ­ì¸ 2024-01-01      7841
2  2024      2      ë‚´êµ­ì¸ 2024-02-01    296323
3  2024      2      ì™¸êµ­ì¸ 2024-02-01      9202
4  2024      3      ë‚´êµ­ì¸ 2024-03-01    205603

In [51]:

# ì •ë ¬
df = df.sort_values(['date', 'category'], ascending=[True, True]).reset_index(drop=True)

print("ìµœì¢… ê²°ê³¼ :")
display(df.style.format({'visitors': '{:,}'}))
print(f"\nìµœì¢… shape: {df.shape}")
print(f"ì¹´í…Œê³ ë¦¬ ì¢…ë¥˜: {df['category'].unique()}")

ìµœì¢… ê²°ê³¼ :

ìµœì¢… shape: (48, 5)
ì¹´í…Œê³ ë¦¬ ì¢…ë¥˜: ['ë‚´êµ­ì¸' 'ì™¸êµ­ì¸']

## Step 9: ê¸°ë³¸ í™•ì¸ (ê²°ì¸¡ì¹˜, í†µê³„)

In [ ]:
# ê²°ì¸¡ì¹˜ í™•ì¸
print("ê²°ì¸¡ì¹˜ ê°œìˆ˜:")
print(df.isnull().sum())

# ê¸°ë³¸ í†µê³„
print("\në°©ë¬¸ììˆ˜ ê¸°ë³¸ í†µê³„:")
display(df['ë°©ë¬¸ììˆ˜'].describe())

# ì¹´í…Œê³ ë¦¬ë³„ í•©ê³„
print("\nì¹´í…Œê³ ë¦¬ë³„ ì´ ë°©ë¬¸ììˆ˜:")
display(df.groupby('ì¹´í…Œê³ ë¦¬')['ë°©ë¬¸ììˆ˜'].sum())
df.index.name = 'id'
display(df)

In [ ]:
df.to_csv(r'C:\Users\Comet\Desktop\kpdh\data\processed\museum_visitors_2425.csv', 
          encoding='utf-8-sig', 
          index=True)