## üíæÎç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨ Ïã§Ïäµ_1: 
**‚ùóÎ™©Ìëú:** 7ÎÖÑ Î∞©Î¨∏Ïûê Îç∞Ïù¥ÌÑ∞Î•º Î≤îÏö©Ï†ÅÏúºÎ°ú Î∂ÑÏÑù Í∞ÄÎä•Ìïú Long ÌòïÌÉúÎ°ú Î≥ÄÌôò

##### [ÏõêÎ≥∏: 03_Ï§ëÏïôÎ∞ïÎ¨ºÍ¥Ä_7Í∞úÎÖÑ_Í¥ÄÎûåÍ∞ù](data/raw/museum/csv/03_Ï§ëÏïôÎ∞ïÎ¨ºÍ¥Ä_7Í∞úÎÖÑ_Í¥ÄÎûåÍ∞ù.csv)
##### [Ï†ïÏ†ú: museum_visitors_7years_demographics ](../data/processed/museum_visitors_7years_demographics.csv)

In [6]:
import pandas as pd

# 1) CSV ÌååÏùº ÏùΩÍ∏∞
df = pd.read_csv('../data/raw/museum/csv/03_Ï§ëÏïôÎ∞ïÎ¨ºÍ¥Ä_7Í∞úÎÖÑ_Í¥ÄÎûåÍ∞ù.csv')

# 2) ÌñâÏó¥ Ï†ÑÌôò
df = df.transpose()

# 3) Ï≤´ Î≤àÏß∏ ÌñâÏùÑ Ïª¨ÎüºÎ™ÖÏúºÎ°ú ÏßÄÏ†ï
df.columns = df.iloc[0]

# 4) Ï≤´ Î≤àÏß∏ Ìñâ Ï†úÍ±∞ + Ïù∏Îç±Ïä§Î•º Ïª¨ÎüºÏúºÎ°ú Î≥ÄÌôò
df = df[1:].reset_index()

display(df)

Íµ¨Î∂Ñ  index  Ï†ÑÏ≤¥ Í¥ÄÎûåÍ∞ù(Î™Ö)    Ïô∏Íµ≠Ïù∏(Î™Ö) ÎπÑÏú®(%)
0   2019ÎÖÑ  3354161.0  138464.0  4.13
1   2020ÎÖÑ   773621.0   17593.0  2.27
2   2021ÎÖÑ  1262562.0   13996.0  1.11
3   2022ÎÖÑ  3411381.0   70279.0  2.06
4   2023ÎÖÑ  4180285.0  172077.0  4.12
5   2024ÎÖÑ  3788785.0  198085.0  5.23
6   2025ÎÖÑ  6507483.0  231192.0  3.55

In [7]:
# ÌòÑÏû¨ Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ ÌôïÏù∏
print("Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ ÌôïÏù∏:")
print(df.dtypes)

# ÏÉòÌîå Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
print("\nÏÉòÌîå Îç∞Ïù¥ÌÑ∞:")
display(df.head(3))

Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ ÌôïÏù∏:
Íµ¨Î∂Ñ
index        object
Ï†ÑÏ≤¥ Í¥ÄÎûåÍ∞ù(Î™Ö)    object
Ïô∏Íµ≠Ïù∏(Î™Ö)       object
ÎπÑÏú®(%)        object
dtype: object

ÏÉòÌîå Îç∞Ïù¥ÌÑ∞:

Íµ¨Î∂Ñ  index  Ï†ÑÏ≤¥ Í¥ÄÎûåÍ∞ù(Î™Ö)    Ïô∏Íµ≠Ïù∏(Î™Ö) ÎπÑÏú®(%)
0   2019ÎÖÑ  3354161.0  138464.0  4.13
1   2020ÎÖÑ   773621.0   17593.0  2.27
2   2021ÎÖÑ  1262562.0   13996.0  1.11

In [8]:
# ÎπÑÏú® Ïª¨Îüº ÏÇ≠Ï†ú 
df = df.drop(columns='ÎπÑÏú®(%)', errors='ignore')

# Ïà´Ïûê Ïª¨ÎüºÏùÑ numericÏúºÎ°ú Î≥ÄÌôò (ÌïµÏã¨!)
df['Ï†ÑÏ≤¥ Í¥ÄÎûåÍ∞ù(Î™Ö)'] = pd.to_numeric(df['Ï†ÑÏ≤¥ Í¥ÄÎûåÍ∞ù(Î™Ö)'])
df['Ïô∏Íµ≠Ïù∏(Î™Ö)'] = pd.to_numeric(df['Ïô∏Íµ≠Ïù∏(Î™Ö)'])

# korean Ïª¨Îüº Ï∂îÍ∞Ä
df['korean'] = df['Ï†ÑÏ≤¥ Í¥ÄÎûåÍ∞ù(Î™Ö)'] - df['Ïô∏Íµ≠Ïù∏(Î™Ö)']

# korean_ratio Ïª¨Îüº Ï∂îÍ∞Ä (ÌçºÏÑºÌä∏Î°ú, ÏÜåÏàòÏ†ê 2ÏûêÎ¶¨)
df['korean_ratio'] = ((df['korean'] / df['Ï†ÑÏ≤¥ Í¥ÄÎûåÍ∞ù(Î™Ö)'])).round(4)

# foreigner_ratio Ïª¨Îüº Ï∂îÍ∞Ä (ÌçºÏÑºÌä∏Î°ú, ÏÜåÏàòÏ†ê 2ÏûêÎ¶¨)
df['foreigner_ratio'] = ((df['Ïô∏Íµ≠Ïù∏(Î™Ö)'] / df['Ï†ÑÏ≤¥ Í¥ÄÎûåÍ∞ù(Î™Ö)'])).round(4)

# Í≤∞Í≥º ÌôïÏù∏
display(df)
print(f"\nÏª¨Îüº Î™©Î°ù: {df.columns.tolist()}")

Íµ¨Î∂Ñ  index  Ï†ÑÏ≤¥ Í¥ÄÎûåÍ∞ù(Î™Ö)    Ïô∏Íµ≠Ïù∏(Î™Ö)     korean  korean_ratio  foreigner_ratio
0   2019ÎÖÑ  3354161.0  138464.0  3215697.0        0.9587           0.0413
1   2020ÎÖÑ   773621.0   17593.0   756028.0        0.9773           0.0227
2   2021ÎÖÑ  1262562.0   13996.0  1248566.0        0.9889           0.0111
3   2022ÎÖÑ  3411381.0   70279.0  3341102.0        0.9794           0.0206
4   2023ÎÖÑ  4180285.0  172077.0  4008208.0        0.9588           0.0412
5   2024ÎÖÑ  3788785.0  198085.0  3590700.0        0.9477           0.0523
6   2025ÎÖÑ  6507483.0  231192.0  6276291.0        0.9645           0.0355

Ïª¨Îüº Î™©Î°ù: ['index', 'Ï†ÑÏ≤¥ Í¥ÄÎûåÍ∞ù(Î™Ö)', 'Ïô∏Íµ≠Ïù∏(Î™Ö)', 'korean', 'korean_ratio', 'foreigner_ratio']

In [9]:
df['index']= df['index'].str.replace('ÎÖÑ', '').astype(int)
df['index']

0    2019
1    2020
2    2021
3    2022
4    2023
5    2024
6    2025
Name: index, dtype: int64

In [10]:
# 5) Ïª¨ÎüºÎ™Ö Ï†ïÎ¶¨
df = df.rename(columns={'index': 'year'})  # index ‚Üí year
df.columns.name = None                      # Ïª¨Îüº Ìó§Îçî ÏúÑ ÎùºÎ≤® Ï†úÍ±∞

# 6) yearÎ•º Ïù∏Îç±Ïä§Î°ú ÏÑ§Ï†ï
df = df.set_index('year')

df = df.rename(columns={'Ï†ÑÏ≤¥ Í¥ÄÎûåÍ∞ù(Î™Ö)': 'total_visitors','Ïô∏Íµ≠Ïù∏(Î™Ö)':'foreigner'}) 
# df[['total_visitor','foreigner']].astype(int)
display(df)

      total_visitors  foreigner     korean  korean_ratio  foreigner_ratio
year
2019       3354161.0   138464.0  3215697.0        0.9587           0.0413
2020        773621.0    17593.0   756028.0        0.9773           0.0227
2021       1262562.0    13996.0  1248566.0        0.9889           0.0111
2022       3411381.0    70279.0  3341102.0        0.9794           0.0206
2023       4180285.0   172077.0  4008208.0        0.9588           0.0412
2024       3788785.0   198085.0  3590700.0        0.9477           0.0523
2025       6507483.0   231192.0  6276291.0        0.9645           0.0355

In [11]:
# ÌòÑÏû¨ Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ ÌôïÏù∏
print("Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ ÌôïÏù∏:")
print(df.dtypes)

Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ ÌôïÏù∏:
total_visitors     float64
foreigner          float64
korean             float64
korean_ratio       float64
foreigner_ratio    float64
dtype: object

In [12]:
# Ïª¨Îüº ÏàúÏÑú Ï†ïÎ¶¨
df= df[['korean', 'foreigner', 'total_visitors', 'korean_ratio', 'foreigner_ratio']]
display(df)

         korean  foreigner  total_visitors  korean_ratio  foreigner_ratio
year
2019  3215697.0   138464.0       3354161.0        0.9587           0.0413
2020   756028.0    17593.0        773621.0        0.9773           0.0227
2021  1248566.0    13996.0       1262562.0        0.9889           0.0111
2022  3341102.0    70279.0       3411381.0        0.9794           0.0206
2023  4008208.0   172077.0       4180285.0        0.9588           0.0412
2024  3590700.0   198085.0       3788785.0        0.9477           0.0523
2025  6276291.0   231192.0       6507483.0        0.9645           0.0355

In [13]:
# ÏµúÏ¢Ö Í≤∞Í≥º ÌôïÏù∏
print(f"\n1. ÏµúÏ¢Ö shape:\n{df.shape}")
print(f"\n2. Ïª¨Îüº Î™©Î°ù:\n{df.columns.tolist()}")
print(f"\n3. Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ ÌôïÏù∏:\n{df.dtypes}")
# Í∏∞Î≥∏ ÌÜµÍ≥Ñ
print("\n4. Í∏∞Î≥∏ ÌÜµÍ≥Ñ:")
display(df.describe())

# Îç∞Ïù¥ÌÑ∞ ÎØ∏Î¶¨Î≥¥Í∏∞
print("\n5. Îç∞Ïù¥ÌÑ∞ 5Í∞ú ÎØ∏Î¶¨Î≥¥Í∏∞:")
display(df.style.format({'total_visitors': '{:,}', 'korean': '{:,}','foreigner': '{:,}'}))
# display(df.head(5))

1. ÏµúÏ¢Ö shape:
(7, 5)

2. Ïª¨Îüº Î™©Î°ù:
['korean', 'foreigner', 'total_visitors', 'korean_ratio', 'foreigner_ratio']

3. Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ ÌôïÏù∏:
korean             float64
foreigner          float64
total_visitors     float64
korean_ratio       float64
foreigner_ratio    float64
dtype: object

4. Í∏∞Î≥∏ ÌÜµÍ≥Ñ:

,korean,foreigner,total_visitors,korean_ratio,foreigner_ratio
count,7.000000e+00,7.000000,7.000000e+00,7.000000,7.000000
mean,3.205227e+06,120240.857143,3.325468e+06,0.967900,0.032100
std,1.828956e+06,87282.753866,1.908154e+06,0.014426,0.014426
min,7.560280e+05,13996.000000,7.736210e+05,0.947700,0.011100
25%,2.232132e+06,43936.000000,2.308362e+06,0.958750,0.021650
50%,3.341102e+06,138464.000000,3.411381e+06,0.964500,0.035500
75%,3.799454e+06,185081.000000,3.984535e+06,0.978350,0.041250
max,6.276291e+06,231192.000000,6.507483e+06,0.988900,0.052300

5. Îç∞Ïù¥ÌÑ∞ 5Í∞ú ÎØ∏Î¶¨Î≥¥Í∏∞:

In [14]:
# 7) CSV Ï†ÄÏû• (Ïù∏Îç±Ïä§ Ìè¨Ìï®)
df.to_csv('../data/processed/museum_visitors_7years_demographics.csv', 
          
          encoding='utf-8-sig', 
          index=True)

In [15]:
display(df)

         korean  foreigner  total_visitors  korean_ratio  foreigner_ratio
year
2019  3215697.0   138464.0       3354161.0        0.9587           0.0413
2020   756028.0    17593.0        773621.0        0.9773           0.0227
2021  1248566.0    13996.0       1262562.0        0.9889           0.0111
2022  3341102.0    70279.0       3411381.0        0.9794           0.0206
2023  4008208.0   172077.0       4180285.0        0.9588           0.0412
2024  3590700.0   198085.0       3788785.0        0.9477           0.0523
2025  6276291.0   231192.0       6507483.0        0.9645           0.0355