In [ ]:
# !pip install openpyxl

In [ ]:
import pandas as pd

# 1. 파일 경로를 문자열로 지정
file_path = '../data/raw/museum/csv/국립박물관문화재단_박물관상품 인기관심도.xlsx'

# 2. ExcelFile 객체 생성 (파일을 한 번만 로드해서 효율적임)
excel_data = pd.ExcelFile(file_path)

# 3. 각 시트 읽기
df_2023 = excel_data.parse('2023')
df_2024 = excel_data.parse('2024')
df_2025 = excel_data.parse('2025')

# 결과 확인
print(df_2023.head())

In [ ]:
import pandas as pd

# # 엑셀 파일 읽기
# # file_path = r'C:\Users\Comet\Desktop\kpdh\data\raw\museum\csv\국립박물관문화재단_박물관상품 인기관심도.xlsx'
# file_path = '../data/raw/museum/csv/국립박물관문화재단_박물관상품 인기관심도.xlsx'

# # 각 시트 읽기
# df_2023 = pd.read_excel(file_path, sheet_name='2023')
# df_2024 = pd.read_excel(file_path, sheet_name='2024')
# df_2025 = pd.read_excel(file_path, sheet_name='2025')

# 1. 파일 경로를 문자열로 지정
file_path = '../data/raw/museum/csv/국립박물관문화재단_박물관상품 인기관심도.xlsx'

# 2. ExcelFile 객체 생성 (파일을 한 번만 로드해서 효율적임)
excel_data = pd.ExcelFile(file_path)

# 3. 각 시트 읽기
df_2023 = excel_data.parse('2023')
df_2024 = excel_data.parse('2024')
df_2025 = excel_data.parse('2025')

# 결과 확인
display(df_2023.head())
display(df_2024.head())
display(df_2025.head())

   quarter  rank category  product_name
0        1     1     생활소품  반가미니어처(Ver2)
1        1     2     생활소품  반가미니어처(Ver3)
2        1     3     생활소품        왕과왕비수저
3        1     4      공예품       자개  텀블러
4        1     5     생활소품       나전무선충전기

In [11]:
# 연도 컬럼 추가
df_2023['year'] = 2023
df_2024['year'] = 2024
df_2025['year'] = 2025

# 컬럼 순서 통일 (2024가 다름)
df_2023 = df_2023[['year', 'quarter', 'rank', 'category', 'product_name']]
df_2024 = df_2024[['year', 'quarter', 'rank', 'category', 'product_name']]
df_2025 = df_2025[['year', 'quarter', 'rank', 'category', 'product_name']]

# 데이터프레임 병합
df = pd.concat([df_2023, df_2024, df_2025], ignore_index=True)

display(df)

     year  quarter  rank category                      product_name
0    2023        1     1     생활소품                      반가미니어처(Ver2)
1    2023        1     2     생활소품                      반가미니어처(Ver3)
2    2023        1     3     생활소품                            왕과왕비수저
3    2023        1     4      공예품                           자개  텀블러
4    2023        1     5     생활소품                           나전무선충전기
..    ...      ...   ...      ...                               ...
325  2025        3    26     생활소품                  청자텀블러_소(학/모란/주자)
326  2025        3    27     생활소품                         십장생수건3종세트
327  2025        3    28    취미/완구                보드게임도블(국립중앙박물관에디션)
328  2025        3    29     생활소품          청자풍경모빌(상감구름/참외모란꽃/상감나리꽃)
329  2025        3    30     문구사무  책갈피(전통문양/손자수/잎/한복/부채/사리외호/미륵사지탑)

[330 rows x 5 columns]

In [13]:
# 정렬 (연도 → 분기 → 순위)
df = df.sort_values(['year', 'quarter', 'rank']).reset_index(drop=True)
display(df)
df.dtypes

     year  quarter  rank category                      product_name
0    2023        1     1     생활소품                      반가미니어처(Ver2)
1    2023        1     2     생활소품                      반가미니어처(Ver3)
2    2023        1     3     생활소품                            왕과왕비수저
3    2023        1     4      공예품                           자개  텀블러
4    2023        1     5     생활소품                           나전무선충전기
..    ...      ...   ...      ...                               ...
325  2025        3    26     생활소품                  청자텀블러_소(학/모란/주자)
326  2025        3    27     생활소품                         십장생수건3종세트
327  2025        3    28    취미/완구                보드게임도블(국립중앙박물관에디션)
328  2025        3    29     생활소품          청자풍경모빌(상감구름/참외모란꽃/상감나리꽃)
329  2025        3    30     문구사무  책갈피(전통문양/손자수/잎/한복/부채/사리외호/미륵사지탑)

[330 rows x 5 columns]

year             int64
quarter          int64
rank             int64
category        object
product_name    object
dtype: object

In [14]:
# 결과 확인
print(f"전체 shape: {df.shape}")
print(f"\n연도별 데이터 수:")
print(df['year'].value_counts().sort_index())
print(f"\n최종 데이터:")
display(df.head(10))
display(df.tail(10))

전체 shape: (330, 5)

연도별 데이터 수:
year
2023    120
2024    120
2025     90
Name: count, dtype: int64

최종 데이터:

   year  quarter  rank category  product_name
0  2023        1     1     생활소품  반가미니어처(Ver2)
1  2023        1     2     생활소품  반가미니어처(Ver3)
2  2023        1     3     생활소품        왕과왕비수저
3  2023        1     4      공예품       자개  텀블러
4  2023        1     5     생활소품       나전무선충전기
5  2023        1     6     생활소품    자개소반 무선충전기
6  2023        1     7     생활소품       곤룡포잔_세트
7  2023        1     8     생활소품        머그접시세트
8  2023        1     9     문구사무        백제발굴체험
9  2023        1    10     문구사무  조선시대미니유물발굴체험

,year,quarter,rank,category,product_name
320,2025,3,21,생활소품,석굴암조명(소)(돌색/나무색)
321,2025,3,22,문구사무,전통모자볼펜(흑립갓끈/족두리/익선관/면류관/전립)
322,2025,3,23,생활소품,호랑이 손거울(나전/자수)
323,2025,3,24,생활소품,왕과왕비수저
324,2025,3,25,생활소품,큰보-들잔(600ml)(매화백/매와흑/대나무흑/연꽃/목련/소나무/동백백/대나무백/동백흑)
325,2025,3,26,생활소품,청자텀블러_소(학/모란/주자)
326,2025,3,27,생활소품,십장생수건3종세트
327,2025,3,28,취미/완구,보드게임도블(국립중앙박물관에디션)
328,2025,3,29,생활소품,청자풍경모빌(상감구름/참외모란꽃/상감나리꽃)
329,2025,3,30,문구사무,책갈피(전통문양/손자수/잎/한복/부채/사리외호/미륵사지탑)

In [15]:
df.to_csv(r'C:\Users\Comet\Desktop\kpdh\data\processed\museum_goods_ranking.csv', index=False)

display(df.head(10))

   year  quarter  rank category  product_name
0  2023        1     1     생활소품  반가미니어처(Ver2)
1  2023        1     2     생활소품  반가미니어처(Ver3)
2  2023        1     3     생활소품        왕과왕비수저
3  2023        1     4      공예품       자개  텀블러
4  2023        1     5     생활소품       나전무선충전기
5  2023        1     6     생활소품    자개소반 무선충전기
6  2023        1     7     생활소품       곤룡포잔_세트
7  2023        1     8     생활소품        머그접시세트
8  2023        1     9     문구사무        백제발굴체험
9  2023        1    10     문구사무  조선시대미니유물발굴체험